.container {
    margin: 0;
    width: 100vw;
    height: 100%;

    .row {
        width: 100vw;
    }
}

.card {
    margin: 1vh;
    margin-top: 4vh;
    background-color: #20203B;
    height: 90%;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}

.display-5 {
    color: white;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.header {
    padding: 1%;
}

h3 {
    padding: 0%;
}