<div class="container">
  <div class="row header">
    <h3 class="display-5">
      German Federal Ministries
      <small class="text-muted">displayed by datasets provided to GovData.de</small>
    </h3>
    <p class="card-text">
      <a href="GovData.de">GovData.de</a> is the data portal for Germany which intends to give the federal, state and
      local governments a platfrom to share their data.
      Although the "Open Data Act" makes it obligatory to share data, only about 52,000 data sets are online so
      far. This dashboard showcases the numbers of datasets that the individual federal ministries have shared via the
      public data portal so far.
    </p>
  </div>
  <div class="row pie-chart">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Dataset distribution
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            ordered by the number of datasets shared by each ministry
          </h6>
          <p class="card-text">
            The nightingale chart on the left illustrates the overall distribution of shared datasets over the German
            Federal Ministries.
          </p>
          <p class="card-text">
            To filter the chart, click on the ministry name in the legend. This will show/hide the clicked ministry in
            the diagram. You can also select/deselect all ministries or invert the diagram using the buttons on the left
            side of the legend.
          </p>
          <p class="card-text">
            Hovering the mouse cursor over the name of a ministry will display a tooltip indicating the exact number of
            records the ministry has shared and its percentage share in relation to all currently displayed ministries.
          </p>

        </div>
      </div>
    </div>
    <div class="col-8">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  <div class="row bar-chart">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Distribution of datasets relative to neighbors
          </h5>
          <p class="card-text">
            The following bar chart provides an additional way to examine the distribution of released datasets among
            German federal ministries. In the bar chart, ministries are sorted by the number of records they have
            released, as in the Nightingale chart.
          </p>
          <p class="card-text">
            However, the bar chart allows you to compare a ministry with its neighbors by zooming into the chart with
            the mouse wheel. When you move the mouse pointer over a ministry's bar, a tooltip appears with specific
            information about the ministry.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</div>